.container{
    display: flex;
    /* height: 80px; */
    /* background: navy; */
    /* color: white; */
    /* font-size: 30px; */
    align-items: center;
    justify-content: center;
    background-image: url(../img/background.jpg);
    height: 100vh;
   flex-direction: column;
   background-size: cover;
   background-attachment: fixed;
    
}
.box{
  display: flex;
  flex-flow: column;
  /* width: 50%;
  justify-content: center;
  text-align: center;
     */
}
.skill_text{
    color: white;
    font-family: Lato;
    font-size: 47px;
}

/* .skill_text2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: fantasy;
    font-weight: 600;
    color: white;
    /* width: 50vw; */
.skills{
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media screen and (max-width:770px){
    .skill_text{
        font-size: 35px;
    }
    .box{
        height: fit-content;
    }
}