.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background.jpg);
    height: 30vh;
   flex-direction: column;
   background-size: cover;
   background-attachment: fixed;
    
}
.icons {
    display: flex;
    /* height: 30vh; */
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.email{
     color: white;
}
.scrollUp{
    cursor: pointer;
}
@media screen and (max-width:770px){
    .icons{
        width: 100%;
    }
}