.container{
    display: flex;
    /* height: 80px; */
    /* background: navy; */
    /* color: white; */
    /* font-size: 30px; */
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg.png);
    height: 100vh;
   flex-direction: column;
   background-size: cover;
   background-attachment: fixed;
    
}
.box{
  display: flex;
  flex-flow: column;
  /* width: 50%;
  justify-content: center;
  text-align: center;
     */
}
.acad_text{
    color: white;
    font-family: Lato;
    font-size: 47px;
}


.infoAcad{
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
}


@media screen and (max-width:770px){
    .acad_text{
        font-size: 35px;
    }
    .box{
        height: fit-content;
    }
}