.info_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
.info_container .details{
    font-family: Proxima Nova;
    font-size: 30px;
    line-height: 20px;    
    color:white;
    margin-bottom: 15px;
}
.info_container {
    font-family: Proxima Nova Regular;
    font-size: 20px;
    line-height: 110%;
    color:white;
    
    
}
@media screen and (max-width:770px){
    .info_container{
        width: 86%;
        height: 136px;
        padding: 5px;
    }
    .info_container .details{
        font-size: 20px;
        line-height: 20px;
        margin-left: 9px;
    }
    .info_container{
        font-size: 17px;
        line-height: 18px;
        margin-left: 9px;
    }
}