.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg.png);
    height: 100vh;
   flex-direction: column;
   background-size: cover;
   background-attachment: fixed;
    
}

.box{
    cursor: pointer;
}
.outerBox{
    display: flex;
    color: white;
    /* justify-content: flex-end; */
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    height: 52px;
    width: 50%;
}
.photo{
    display: flex;
    /* background: darkblue; */
    width: 100%;
    height: 100%;
}
.circle_div{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   /* height: 70%; */
   flex-direction: column;
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.text_name{
    color: white;
    font-size: 35px;
    font-family: Lato;
    font-weight: 500;
    margin: inherit;
}
.text_details{
    color: white;
    font-size: 25px;
    font-family: Lato;
    /* font-weight: 500; */
}
.kkk{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
.about,.skill,.acad,.contact{
    text-decoration: none;
    color: white;
}
img{
    /* padding: 6px; */
    width: 40px;
    /* cursor: pointer; */
}

@media screen and (max-width:760px){
    .kkk{
        width: 200px;
    height: 200px;
    }
    .text_name{
        font-size: 23px;
    }
    .outerBox{
        font-size: 15px;
        width: 100%;
    }
   
}